* {
  margin: 0;
}

:root {
  --bg-col: rgb(247, 247, 247);
  --border-col: rgb(58, 58, 58);
  --font: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg-col);
  max-width: 1200px;
  margin: auto;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  & a {
    color: var(--accent_col);
    text-decoration: none;
    align-self: center;
    font-weight: 200;
    font-family: var(--font);
  }
}

header nav ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  justify-self: end;
  gap: 3rem;
}

header nav ul li {
  text-decoration: none;
  color: var(--accent_col);
  font-family: var(--font);
}

section:has(h1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--border-col);

  & h2 {
    justify-self: end;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h2,
h3,
h4,
p,
li,
label,
input,
legend,
button {
  font-family: var(--font);
  font-weight: 200;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 400px;
  border: 1px solid var(--border-col);
  padding: 20px;
  margin-top: 0.8rem;

  & fieldset {
    border: none;
  }

  & input {
    margin-bottom: 1rem;
    padding: 10px 20px 10px 20px;
  }

  & label {
    margin-bottom: 0.5rem;
  }

  & p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  & button {
    width: fit-content;
    justify-self: center;
    padding: 10px;
    border: solid 1px var(--border-col);
    background-color: var(--bg-col);
  }
}

section.pets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section.pets > article {
  background-color: var(--bg-col);
  margin: 0.8rem;
  border: solid 1px var(--border-col);
  padding: 0.5rem;
}

section.pets > h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

section.pets > p.status {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

section.pets > p.race {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

section.pets > p.species {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
